<div class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Allison's Animal Rescue</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><%= link_to "Our Babies", pets_path %></li>
      <li class="divider-vertical"></li>
      <li><a href="#">Foster</a></li>
      <li><a href="#">Adopt</a></li>
      <li><a href="#">Donate</a></li>
      <li><%= link_to "Admin Login", new_admin_session_path %></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="jumbotron text-center">
    <h1 style="color:#3366FF">Allison's Animal Rescue Group</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo.</p>
    <p><a class="btn btn-large btn-success" href="http://bootply.com/tagged/bootstrap-3" target="ext">More Examples</a></p>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h4>Mobile First</h4>
      <p>Responsive by default, and a clean "flat" design.</p>

      <h4>Powerful Grid</h4>
      <p>3 responsive grid sizes to control the grid layout on tiny, small and large displays.</p>
    </div>

    <div class="col-lg-6">
      <h4>New Elements</h4>
      <p>New panels, list groups, glyphicons and justified navigation.</p>

      <h4>Less Bloat</h4>
      <p>The optimized CSS is in a single file. Glyphicons are now separate.</p>
    </div>
